html,
body {
  --color-1: #ffba49;
  --color-2: #20a39e;
  --color-3: #ef5b5b;
  --color-4: #23001e;
  --color-5: #a4a9ad;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  background-image: linear-gradient(135deg, var(--color-1), var(--color-2));
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: black;
}

.container {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.3);
  padding: 50px;
  border-radius: 24px;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dice {
  border-radius: 12px;
  width: 100px;
  height: 100px;
  background-color: rgba(32, 163, 158, 0.7);
  margin: 0 auto;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: #fff;
  padding: 20px 30px;
  font-size: 20px;
  margin-top: 40px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#rollBtn {
  background-color: var(--color-1);
}

#resetBtn {
  background-color: var(--color-4);
}

button:focus {
  outline: none;
}

#resetBtn {
  display: none;
}

.active {
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}
